---
import { Markdown } from 'astro/components';
import Chevron from '~/icons/expand_icon_24dp.astro';

// REF: https://dots-studio.github.io/NeonUIGallery/src/#galleryAccordion

const { title } = Astro.props;
---
<div class="accordion collapsed">
	<div class="accordion-header">
		<Chevron />
		<span class="accordion-title">{ title }</span>
	</div>
	<div class="accordion-content">
		<Markdown>
			<slot/>
		</Markdown>
	</div>
</div>