---
import { Markdown } from 'astro/components';
import Chevron from '~/icons/expand_icon_24dp.astro';

// REF: https://dots-studio.github.io/NeonUIGallery/src/#galleryAccordion

const { title } = Astro.props;
---
<details class="accordion">
	<summary class="accordion-header">
		{title}
		<Chevron />
	</summary>
	<div class="accordion-content">
		<Markdown>
			<slot/>
		</Markdown>
	</div>
</details>