---
import { SOCIALS } from '~/constants.js';
import LoveIcon from '~/icons/LoveIcon.astro';
---
<footer>
	<div class="prominent">
	Built with <LoveIcon /> by K2VR Team
	</div>
	<ul class="socials">
		<li class="social-link"><a href={ SOCIALS.discord } target="_blank">Discord</a></li>
		<li class="social-link"><a href={ SOCIALS.github } target="_blank">GitHub</a></li>
		<li class="social-link"><a href={ SOCIALS.twitter } target="_blank">Twitter</a></li>
		<li class="social-link"><a href={ SOCIALS.opencollective } target="_blank">OpenCollective</a></li>
	</ul>
</footer>