---
import { SITE, SOCIALS } from '~/constants.js';
import SearchIcon from '@icons/search_black_24dp.astro';
import HamburgerIcon from '@icons/hamburger_black_24dp.astro';
import K2VRWordmark from '@icons/K2VR.astro';

// Dark mode 
import SunIcon from '@icons/sun.astro';
import MoonIcon from '@icons/moon.astro';
---
<header>
	<button class="mobile sidebar">
		<HamburgerIcon />
	</button>
	<h1 class="site-title"><a href={ SITE.docsRoot }><K2VRWordmark class="logo"/></a></h1>
	<div class="dock-right">
		<label class="theme-toggle switch">
			<input type="checkbox"><SunIcon  class="sun"/><MoonIcon class="moon"/>
		</label>
		<button class="search"><SearchIcon/></button>
		<a class="link-external" href={ SOCIALS.discord} target="_blank">Discord</a>
		<a class="link-external" href={ SOCIALS.github} target="_blank">GitHub</a>
	</div>
</header>