.accordion {
	background-color: var(--accordion-bg);
	color: var(--accordion-text);
	border: 2px solid var(--accordion-border);
	border-radius: var(--border-radius);
	&:hover {
		background: var(--accordion-hover-bg);
	}
	
	& .accordion-header svg {
		transform: scale(1, 1);
		transition: transform 250ms cubic-bezier(.79,.14,.15,.86);
		vertical-align: middle;
		height:16px;
		scale: 1.5;
	}
	&[open] .accordion-header  svg {
		transform: scale(1, -1);
	}
}

.accordion-header {
	padding: 1rem;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}

.accordion-content {
	background-color: var(--accordion-collapse);
	color: var(--accordion-text);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding: 1rem;

	& > *:first-child {
		margin-top: 0;
	}
	& > *:last-child {
		margin-bottom: 0;
	}
}