.accordion {
	background-color: var(--accordion-bg);
	color: var(--accordion-text);
	border: 2px solid var(--accordion-text);
	border-radius: 6px;
	&:hover {
		background: var(--accordion-hover-bg);
	}

	.no-js &.collapsed {
		& .accordion-header svg {
			display: none;
		}
		& .accordion-content {
			display: block;
		}
	}
	&.collapsed {
		& .accordion-header svg {
			transform: rotateX(0deg);
		}

		& .accordion-content {
			display: none;
		}
	}
}

.accordion-header {
	padding: 1rem;
	cursor: pointer;
	& svg,
	& span {
		pointer-events: none;
	}
	.no-js & {
		cursor: default;
	}
	& svg {
		transform: rotateX(180deg);
	}
}

.accordion-content {
	background-color: var(--accordion-collapse);
	color: var(--accordion-text);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding: 1rem;

	& *:first-child {
		margin-top: 0;
	}
	& *:last-child {
		margin-bottom: 0;
	}
}