// Enable smooth scrolling
html {
	scroll-behavior: smooth;
}
.main-wrapper {
	
}
.content {
	margin: 0 auto;
	padding: 2rem;
	padding-left: calc(var(--sidebar-width) + 2 * var(--sidebar-padding));
	max-width: 120ex;
	
	@media only screen and (max-width: 1111px) {
		padding-left: 2rem;
	}
}