// TODO: Rewrite entirely

/**
 * Dracula Theme originally by Zeno Rocha [@zenorocha]
 * https://draculatheme.com/
 *
 * Ported for PrismJS by Albert Vallverdu [@byverdu]
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: 'JetBrains Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
 
/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
  }
  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
	color: white;
	background: #1c1b19;
  }
  :not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
  }
  .token.comment {
	color: #75715E;
	
  }
  .token.string {
	color: #FBB829;
	
  }
  .token.number {
	color: #0AAEB3;
	
  }
  .token.builtin {
	color: #0AAEB3;
	
  }
  .token.char {
	color: #0AAEB3;
	
  }
  .token.constant {
	color: #0AAEB3;
	
  }
  .token.variable {
	color: #9EBAC2;
	
  }
  .token.class-name {
	color: #519F50;
	
  }
  .token.function {
	color: #519F50;
	
  }
  .token.attr-name {
	color: #519F50;
	
  }
  .token.selector {
	color: #519F50;
	
  }
  .token.inserted {
	color: #519F50;
	
  }
  .token.tag {
	color: #EF2F27;
	
  }
  .token.punctuation {
	color: #EF2F27;
	
  }
  .token.deleted {
	color: #EF2F27;
	
  }
  .token.changed {
	color: #F75341;
	
  }
  .token.important,
  .token.bold {
	font-weight: bold;
  }
  .token.italic {
	font-style: italic;
  }
 
.token.entity {
	cursor: help;
}