pre.astro-code {
	counter-reset: line;
	& code {
		width: calc(100% - 2 * var(--codeblock-padding));
		overflow: hidden;
		padding: var(--codeblock-padding);
		background-color: transparent;

		& .line {
			margin-left: calc(var(--codeblock-line-number-width) + var(--codeblock-line-number-padding-right));
			counter-increment: line;
			display: inline-block;
			width: calc(100% + 2 * var(--codeblock-padding) - var(--codeblock-line-number-width) * 2 - var(--codeblock-line-number-padding-right));
			&:hover {
				box-shadow: calc(-1 * var(--codeblock-line-number-width)) 0 0 0 var(--codeblock-bg-hover);
				background-color: var(--codeblock-bg-hover);
				&::before {
					background-color: var(--codeblock-bg-hover);
					// border: var(--codeblock-line-number-padding-right) solid var(--codeblock-bg-hover);
				}
			}

			&::before {
				display: inline-block;
				content: counter(line);
				width: var(--codeblock-line-number-width);
				color: var(--codeblock-line-number-color);
				text-align: right;
				padding-right: var(--codeblock-line-number-padding-right);
				margin-left: calc(-1 * var(--codeblock-line-number-width) - 2 * var(--codeblock-line-number-padding-right));
			}
		}
	}
}