:root {
	--fonts-header: 'Inter', sans-serif;
	--fonts-normal: 'Inter', sans-serif;
	--fonts-code: 'Source Code Pro', monospace;
	--fonts-header-weight: 800;

	--brand-blue: #52BFFF;
	--brand-midtone: #AA6AF1;
	--brand-pink: #F038B4;

	--sidebar-width: 18rem;
	--sidebar-padding: 1rem;
	--sidebar-header-spacing: 0.6rem;

	--card-padding: 1rem;

	--header-height: 4rem;
	--header-padding: 3rem;
	--header-title-size: 1.6rem;
	--heading-icon-size: 1rem;
	
	--footer-text-size: 1.5rem;
	--footer-padding: 1rem;
	--footer-height: 4rem;

	--search-container-width:  120ex;
	--search-container-height: 75vh;
	--search-popup-padding: 1.75rem;
	--search-input-height: 3rem;
	--search-input-font-size: 1.2rem;

	--content-padding: 2rem;
	--content-max-width: 120ex;

	--border-radius: 6px;
}
@mixin lightMode {
	--background-color: #FFFFFF;
	--text-color: #0C0C0C;
	
	--accent: #4D37A4;
	--link: #4D37A4;

	--footer-bg: #bfbcc9;
	--footer-text: #494361;
	--footer-border: #746e8b;
	--footer-link: #484162;
	--footer-link-hover: #5b4b91;

	--header-bg: #cec9d5;
	--header-text: #0c0c0c;
	--header-logo: #6f6b7a;

	--blockquote-bg: #E3DFE9;
	--blockquote-text: #494968;
	--blockquote-border: #D5CDE2;

	--codeblock-bg: #CFCCDE;
	--codeblock-text: #494968;

	--kbd-primary: #E3DFE9;
	--kbd-secondary: #66617b;
	--kbd-text: #554d76;

	--table-bg: #B9B3D1;
	--table-bg2: #CFCCDE;
	--table-heading-bg: #E3DFE9;
	--table-heading-text: #0c0c0c;
	--table-text: #3c3c5c;
	--table-border: #8a83a8;

	--sidebar-default: #494968;
	--sidebar-hover: #141414;
	--sidebar-selected: #141414;
	--sidebar-bg-default: #f1eff5;
	--sidebar-bg-hover: #cbcbdb;
	--sidebar-bg-selected: #dbdbe7;
	--sidebar-border: #a1a1bb;

	--search-container-bg: #CFCCDE;
	--search-input-bg: #f1eff5;
	--search-input-text: #2B2B43;
	--search-result-bg: var(--search-container-bg);
	--search-result-hover-bg: #e2e2ed;
	--search-result-text: #0c0c0c;

	--accordion-bg: #CFCCDE;
	--accordion-hover-bg: #E3DFE9;
	--accordion-border: #9c95b7;
	--accordion-text: #272735;
	--accordion-collapse: #B9B3D1;

	.card-error {
		--card-bg: #f8d0d3;
		--card-contrast: #bb131f;
		--card-border: #df676f;
		--codeblock-bg: #ffd4d4;
	}
	.card-help {
		--card-bg: #b8f0c9;
		--card-contrast: #019212;
		--card-border: #58c465;
		--codeblock-bg: #e2ffe0;
	}
	.card-info {
		--card-bg: #c7eaf7;
		--card-contrast: #116b87;
		--card-border: #37ACCE;
		--codeblock-bg: #d0defb;
		// more contrast
		--link: #126197;
	}
	.card-tip {
		--card-bg: #ebcaf2;
		--card-contrast: #72157e;
		--codeblock-bg: #f8c6fb;
		--card-border: #cb73d8;
	}
	.card-warning {
		--card-bg: #f6e4a4;
		--card-contrast: #a77302;
		--card-border: #D5AD21;
		--codeblock-bg: #faf8cb;
	}
	.card-download {
		--card-bg: #168CDD;
		--card-contrast: #FFF;
		--codeblock-bg: #3F9EDD;
	}
	.card-noicon {
		--card-bg: #E3DFE9;
		--card-bg-hover: #d0c9da;
		--card-contrast: #3c3c5c;
		--card-border: #B9B3D1;
	}
}
@mixin darkMode {
	--background-color: #1B1B27;
	--text-color: #E3DFE9;
	
	--accent: #9B81FF;
	--link: #9B81FF;

	--footer-bg: #2B2B43;
	--footer-text: #E3DFE9;
	--footer-border: #E3DFE9AA;
	--footer-link: #E3DFE9;
	--footer-link-hover: #FFFFFF;

	--header-bg: #2B2B43;
	--header-text: #FFFFFF;
	--header-logo: #FFFFFF;

	--blockquote-bg: #363652;
	--blockquote-text: #B9B3D1;
	--blockquote-border: #494968;

	--codeblock-bg: #293652;
	--codeblock-text: #FFFFFF;

	--kbd-primary: #494968;
	--kbd-secondary: #6A6A89;
	--kbd-text: #B9B3D1;

	--table-bg: #363652;
	--table-bg2: #494968;
	--table-heading-bg: #2B2B43;
	--table-heading-text: #B9B3D1;
	--table-text: #FFFFFF;
	--table-border: #3c3c5c;

	--sidebar-default: #B9B3D1;
	--sidebar-hover: #FFFFFF;
	--sidebar-selected: #FFFFFF;
	--sidebar-bg-default: #363652;
	--sidebar-bg-hover: #494968;
	--sidebar-bg-selected: #6A6A89;
	--sidebar-border: #536081;

	--search-container-bg: #2B2B43;
	--search-input-bg: #494968;
	--search-input-text: #FFFFFF;
	--search-result-bg: var(--search-container-bg);
	--search-result-hover-bg: #6A6A89;
	--search-result-text: #FFFFFF;

	--accordion-bg: #363652;
	--accordion-hover-bg: #494968;
	--accordion-border: #383855;
	--accordion-text: #B9B3D1;
	--accordion-collapse: #2B2B43;

	.card-error {
		--card-bg: #5A2C30;
		--card-contrast: #fb7e87;
		--card-border: #FC6570;
		--codeblock-bg: #5f1717;
	}
	.card-help {
		--card-bg: #295a38;
		--card-contrast: #62D470;
		--card-border: #62D470;
		--codeblock-bg: #164d12;
		--link: #86f593;
	}
	.card-info {
		--card-bg: #294b56;
		--card-contrast: #37ACCE;
		--card-border: #37ACCE;
		--codeblock-bg: #162f37;
		// more contrast
		--link: #80defb;
	}
	.card-tip {
		--card-bg: #412a46;
		--card-contrast: #ee99fa;
		--codeblock-bg: #440e47;
		--card-border: #D97DE8;
		--link: #f8cafe;
	}
	.card-warning {
		--card-bg: #6A4C26;
		--card-contrast: #D5C153;
		--card-border: #D5C153;
		--codeblock-bg: #685103;
	}
	.card-download {
		--card-bg: #168CDD;
		--card-contrast: #FFF;
		--codeblock-bg: #3F9EDD;
	}
	.card-noicon {
		--card-bg: #363652;
		--card-bg-hover: #4a4a6e;
		--card-contrast: #B9B3D1;
		--card-border: #454565;
	}
}

// automatic/manual light mode
:root, :root.light {
	@include lightMode();
}
// automatic dark mode
// keep the rules in sync with the manual dark mode below!
@media (prefers-color-scheme: dark) {
	:root {
		@include darkMode();
	}
}
// manual dark mode
// keep the rules in sync with the automatic dark mode above!
:root.dark {
	@include darkMode();
}