---
import {Debug} from 'astro/components';
import SidebarSection from './SidebarSection.astro';

// oh boy dont you love node
import fs from 'node:fs/promises';

const { locale } = Astro.props;

// this is stupidly fucking cursed
const relativeToRoot = "../".repeat(import.meta.env.DEV === true ? 2 : 1) + (import.meta.env.DEV === true ? "" : "src/");

const url = new URL(`${relativeToRoot}pages/${locale}/meta.json`, import.meta.url);
const json = await fs.readFile(url, 'utf-8');
const SidebarEntries = JSON.parse(json);
---
<div class="docs-sidebar collapse">
	
	<SidebarSection items={SidebarEntries.sidebar}/>
	
</div>
<div class="sidebar-overlay">
</div>